$primary-color: #FFEFE7;
$secundary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$orange-color: #E86424;
$orange-light-color: #FA9500;
$font-family: 'IBM Plex Sans', sans-serif;


/* MIXINS */

/* Estilos para los titulos */
@mixin font-title {
  margin-bottom: 3.2rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.6rem;
}

@mixin font-subtitle {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.7rem;
}

@mixin font-text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
}

@mixin container {
  width: 95%;
  max-width: 144rem;
  margin: 0 auto;

}

@mixin card {
  scroll-snap-align: center;
  padding: 3.2rem 2.4rem;
  border-radius: .8rem;
  background-color: $secundary-color;

  &__figure {
    width: 100%;
    margin-bottom: 1.6rem;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__subtitle {
    @include font-subtitle();
    margin-bottom: .8rem;
  }

  &__text {
    @include font-text();
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 32rem;
  font-family: $font-family;
  font-size: 1.6rem;
  color: $primary-text-color;
  background-color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.card {
  @include card();
}

/* HEADER */

.header {
  margin-bottom: 1rem;
  padding: 1.6rem 0;

  &__menu {
    @include container();
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 500;
  }

  &__links {
    display: none;
  }
}

/* HERO */

.hero {
  padding-bottom: 6rem;

  &__container {
    @include container();
    width: 90%;
    max-width: 55rem;
    display: grid;
    gap: 1.6rem;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__title {
    margin-bottom: 1.2rem;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.6rem;
  }

  &__text {
    @include font-text();
    margin-bottom: 2rem;
  }

  &__button {
    max-width: 30rem;
    margin: 0 auto;
    padding: 1.2rem;
    border-radius: 2rem;
    display: block;
    text-align: center;
    color: white;
    background-color: $orange-color;
  }
}

/* SALUD */

.salud {
  @extend .hero;

  &__container {
    @include container();
  }

  &__title {
    @include font-title();
  }

  &__cards {
    margin: 0 auto;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 17.8rem);
    gap: 2.6rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

}

/* HOGAR */

.hogar {
  @extend .salud;

  &__title {
    @extend .salud__title;
    margin-bottom: 3.2rem;
  }

  &__cards {
    // @extend .salud__cards;
  }

  &__card {
    // @extend .salud__card;
    background-color: $tertiary-color;
  }

  &__figure {
    // @extend .salud__figure;
  }

  &__subtitle {
    // @extend .salud__subtitle;
    color: $primary-color;
  }

  &__text {
    // @extend .salud__text;
    color: $primary-color;
  }
}