$primary-color: #FFEFE7;
$secundary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$orange-color: #E86424;
$orange-light-color: #FA9500;
$font-family: 'IBM Plex Sans', sans-serif;


/* MIXINS */

/* Estilos para los titulos */
@mixin font-title {
  margin-bottom: 3.2rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.6rem;

  @media (min-width:768px) {
    margin-bottom: 3.6rem;
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}

@mixin font-subtitle {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.7rem;

  @media (min-width:768px) {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.2rem;
  }
}

@mixin font-text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;

  @media (min-width:768px) {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
  }
}

@mixin container {
  width: 95%;
  max-width: 144rem;
  margin: 0 auto;

}

@mixin card($color-fondo, $colortexto: null) {
  scroll-snap-align: center;
  padding: 3.2rem 2.4rem;
  border-radius: .8rem;
  background-color: $color-fondo;

  &__figure {
    width: 100%;
    margin-bottom: 1.6rem;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__subtitle {
    @include font-subtitle();
    margin-bottom: .8rem;
    color: $colortexto;
  }

  &__text {
    @include font-text();
    color: $colortexto;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 32rem;
  font-family: $font-family;
  font-size: 1.6rem;
  color: $primary-text-color;
  background-color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */

.header {
  margin-bottom: 1rem;
  padding: 1.6rem 0;

  &__menu {
    @include container();
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 500;
  }

  &__links {
    display: none;
  }
}

/* HERO */

.hero {
  padding-bottom: 6rem;

  @media (min-width:768px) {
    padding-bottom: 8rem;
  }

  &__container {
    @include container();
    width: 90%;
    max-width: 55rem;
    display: grid;
    gap: 1.6rem;

    @media (min-width:768px) {
      max-width: 120rem;
      grid-template-columns: 32rem 1fr;
      grid-auto-flow: dense;
      align-items: center;
    }
  }

  &__figure {
    @media (min-width:768px) {
      max-width: 50rem;
      grid-column: 2;
      justify-self: end;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__title {
    margin-bottom: 1.2rem;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.6rem;

    @media (min-width:768px) {
      margin-bottom: 3.2rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 4.4rem;
    }
  }

  &__text {
    @include font-text();
    margin-bottom: 2rem;

    @media (min-width:768px) {
      margin-bottom: 3rem;
    }
  }

  &__button {
    max-width: 30rem;
    margin: 0 auto;
    padding: 1.2rem;
    border-radius: 2rem;
    display: block;
    text-align: center;
    color: white;
    background-color: $orange-color;
  }
}

/* SALUD */

.salud {
  @extend .hero;

  &__container {
    @include container();
  }

  &__title {
    @include font-title();
  }

  &__cards {
    margin: 0 auto;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 17.8rem);
    gap: 2.6rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    @media (min-width:768px) {
      // grid-template-columns: repeat(6, 24rem);
      grid-template-columns: repeat(3, 1fr);
      overflow-x: unset;
      scroll-snap-type: unset;
    }
  }

  .card {
    @include card($secundary-color);
  }
}

/* HOGAR */

.hogar {
  @extend .hero;

  &__container {
    @include container();
  }

  &__title {
    @include font-title();
  }

  &__cards {
    margin: 0 auto;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 17.8rem);
    gap: 2.6rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .card {
    @include card($tertiary-color, $primary-color);
  }
}

/* NOSOTROS */
.nosotros {
  @extend .hero;

  &__container {
    @include container();
  }

  &__title {
    @include font-title();
  }

  &__content {
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, (minmax(20rem, 1fr)));
    justify-items: center;
    gap: 2rem;
  }

  &__info {
    max-width: 30rem;
    display: grid;
    justify-items: center;
    gap: 1.6rem;
  }

  &__text {
    @include font-text();
    text-align: center;
  }
}

/* ESTILOS */

.estilos {
  @extend .hero;

  &__container {
    @include container();
  }

  &__title {
    @include font-title();
  }

  &__grid {
    width: 90%;
    // max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.6rem;
    justify-items: center;
  }
}

/* ENCUENTRANOS */
.encuentranos {
  @extend .hero;

  &__container {
    @include container();
  }

  &__title {
    @include font-title();
  }

  .encuentranos__figure {
    max-width: 130rem;
    margin: 0 auto 3.2rem;
  }

  &__lugar {
    @include font-title();
    margin-bottom: .8rem;
    color: $orange-color;
  }

  &__direccion {
    @include font-text();
    color: $orange-color;
  }
}

.footer {
  padding: 3rem 0;
  background-color: $orange-light-color;

  &__container {
    @include container();
  }

  &__logo {
    @extend .header__logo;
    margin-bottom: 2.4rem;
    color: white;
  }

  &__links {
    margin-bottom: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__link {
    color: white;
  }

  &__redes {
    display: flex;
    gap: 1.6rem;
  }
}